#footer {
    position: relative;
    bottom: 0px;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
    font-size: var(--font-size-big);
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1vh solid var(--bg-color);
}