/* Style.css contains all global css values, and stores them inside browser variables (:root) */
:root {
    --primary-color: #202020;
    --secondary-color: #303030;
    --hover-color: #232323;
    --bg-color: #111111;
    --font-color: #ff4b4b;
    --heading-color: #FF0000;
    --font-size-big: 20px; 
    --font-size-small: 15px;
    --hue-rotate: hue-rotate(95deg);
    --transparent-color: #202020CC;
    --more-transparent-color: #20202088;
  }
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: var(--font-size-small);
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
  color: var(--font-color);
  font-size: var(--font-size-big);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: unset;
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
}
a:hover {
  cursor: pointer;
}